In [1]:
#import necessary library

import pandas as pd

In [6]:
# create a list and convert to a pandas dataframe

Shoe_name = [
    'Nike', 'Zara', 'Adidas', 'Puma', 'Timberland', 'Kenzo', 'New Balance',
    'Reebok', 'Converse', 'Under Armour', 'Vans', 'Skechers', 'Asics', 'Fila',
    'Saucony', 'Hush Puppies', 'Brooks', 'Merrell', 'Salomon', 'Lacoste',
    'Dockers', 'Clarks', 'Crocs', 'Bata', 'Aldo', 'Gucci', 'Prada', 'Balenciaga',
    'Versace', 'Hermes', 'Dolce & Gabbana', 'Chanel', 'Burberry', 'Givenchy',
    'Louis Vuitton', 'Yeezy', 'Off-White', 'Ralph Lauren', 'Tommy Hilfiger',
    'Michael Kors', 'Alexander McQueen', 'BOSS', 'Ted Baker', 'Saint Laurent',
    'Valentino', 'Jimmy Choo', 'Manolo Blahnik', 'Steve Madden', 'Coach',
    'Dr. Martens', 'Timberland PRO', 'Allen Edmonds', 'Johnston & Murphy',
    'Magnanni', 'Cole Haan', 'Ecco', 'Geox'
]
Size = [
    43, 47, 25, 36, 38, 24, 43, 42, 37, 44, 39, 40, 41, 45, 46, 40, 41, 42, 44,
    39, 40, 43, 37, 41, 39, 44, 42, 45, 40, 41, 42, 39, 43, 44, 46, 38, 37, 42,
    40, 43, 41, 42, 44, 45, 46, 40, 39, 41, 42, 44, 45, 43, 42, 41, 44, 45, 40
]
Price = [
    '$20', '$35', '$56', '$29', '$40', '$55', '$50', '$60', '$45', '$70', '$35',
    '$30', '$65', '$55', '$50', '$52', '$67', '$48', '$72', '$55', '$38', '$63',
    '$25', '$33', '$59', '$200', '$250', '$300', '$220', '$275', '$180', '$210',
    '$230', '$260', '$290', '$240', '$280', '$150', '$130', '$195', '$320',
    '$175', '$160', '$400', '$350', '$370', '$310', '$85', '$190', '$110', '$130',
    '$210', '$200', '$240', '$170', '$180', '$100'
]

Brand = [
    'Nike', 'Zara', 'Adidas', 'Puma', 'Timberland', 'Kenzo', 'New Balance',
    'Reebok', 'Converse', 'Under Armour', 'Vans', 'Skechers', 'Asics', 'Fila',
    'Saucony', 'Hush Puppies', 'Brooks', 'Merrell', 'Salomon', 'Lacoste',
    'Dockers', 'Clarks', 'Crocs', 'Bata', 'Aldo', 'Gucci', 'Prada', 'Balenciaga',
    'Versace', 'Hermes', 'Dolce & Gabbana', 'Chanel', 'Burberry', 'Givenchy',
    'Louis Vuitton', 'Yeezy', 'Off-White', 'Ralph Lauren', 'Tommy Hilfiger',
    'Michael Kors', 'Alexander McQueen', 'BOSS', 'Ted Baker', 'Saint Laurent',
    'Valentino', 'Jimmy Choo', 'Manolo Blahnik', 'Steve Madden', 'Coach',
    'Dr. Martens', 'Timberland', 'Allen Edmonds', 'Johnston & Murphy',
    'Magnanni', 'Cole Haan', 'Ecco', 'Geox'
]

Category = [
    'Sports', 'Casual', 'Sports', 'Sports', 'Casual', 'Formal', 'Sports', 
    'Sports', 'Casual', 'Sports', 'Casual', 'Casual', 'Sports', 'Sports',
    'Sports', 'Casual', 'Sports', 'Outdoor', 'Outdoor', 'Casual',
    'Casual', 'Formal', 'Casual', 'Casual', 'Formal', 'Luxury', 'Luxury', 'Luxury',
    'Luxury', 'Luxury', 'Luxury', 'Luxury', 'Luxury', 'Luxury', 'Luxury',
    'Luxury', 'Luxury', 'Casual', 'Casual', 'Luxury', 'Luxury',
    'Luxury', 'Luxury', 'Luxury', 'Luxury', 'Luxury', 'Luxury',
    'Casual', 'Luxury', 'Casual', 'Casual', 'Luxury', 'Formal',
    'Formal', 'Formal', 'Formal', 'Formal'
]

Color = [
    'Red', 'Black', 'White', 'Blue', 'Brown', 'Green', 'Gray', 'Black', 'White',
    'Blue', 'Black', 'Gray', 'Red', 'White', 'Black', 'Brown', 'Blue', 'Green',
    'Black', 'White', 'Brown', 'Black', 'White', 'Black', 'Gray', 'Black',
    'White', 'Black', 'White', 'Brown', 'Black', 'White', 'Black', 'White',
    'Black', 'White', 'Black', 'Gray', 'Blue', 'Black', 'White', 'Black',
    'White', 'Black', 'White', 'Black', 'Gray', 'White', 'Black', 'Brown',
    'Black', 'Brown', 'Black', 'White', 'Brown', 'Black'
]

Material = [
    'Leather', 'Synthetic', 'Canvas', 'Leather', 'Synthetic', 'Leather', 'Mesh',
    'Synthetic', 'Canvas', 'Leather', 'Canvas', 'Mesh', 'Leather', 'Synthetic',
    'Mesh', 'Leather', 'Synthetic', 'Leather', 'Synthetic', 'Canvas',
    'Leather', 'Synthetic', 'Synthetic', 'Synthetic', 'Leather', 'Leather',
    'Leather', 'Leather', 'Leather', 'Leather', 'Leather', 'Leather',
    'Leather', 'Leather', 'Leather', 'Leather', 'Leather', 'Leather',
    'Leather', 'Leather', 'Leather', 'Leather', 'Leather', 'Leather',
    'Leather', 'Leather', 'Leather', 'Synthetic', 'Leather', 'Synthetic',
    'Leather', 'Leather', 'Leather', 'Leather', 'Leather', 'Leather'
]

Stock_Quantity = [
    100, 150, 200, 120, 180, 160, 140, 190, 210, 130, 170, 110, 150, 140, 160,
    130, 170, 150, 140, 110, 180, 120, 150, 130, 140, 90, 80, 70, 60, 50, 100,
    90, 80, 70, 60, 50, 40, 190, 170, 160, 150, 140, 130, 120, 110, 100, 90,
    80, 190, 170, 160, 150, 140, 130, 120, 110, 100
]



Gender = [
    'Unisex', 'Women', 'Men', 'Unisex', 'Men', 'Women', 'Men', 'Women', 'Unisex',
    'Men', 'Unisex', 'Women', 'Men', 'Unisex', 'Men', 'Women', 'Men', 'Unisex',
    'Men', 'Women', 'Men', 'Unisex', 'Women', 'Men', 'Unisex', 'Women', 'Men',
    'Unisex', 'Men', 'Women', 'Unisex', 'Men', 'Women', 'Unisex', 'Men',
    'Women', 'Unisex', 'Men', 'Women', 'Unisex', 'Men', 'Women', 'Unisex', 'Men',
    'Women', 'Unisex', 'Men', 'Women', 'Unisex', 'Men', 'Women', 'Unisex', 'Men',
    'Women', 'Unisex', 'Men', 'Women'
]


Country_of_Origin = [
    'China', 'Germany', 'India', 'China', 'Germany', 'India', 'China', 'Germany',
    'India', 'China', 'Germany', 'India', 'China', 'Germany', 'India', 'China',
    'Germany', 'India', 'China', 'Germany', 'India', 'China', 'Germany', 'India',
    'China', 'Germany', 'India', 'China', 'Germany', 'India', 'China', 'Germany',
    'India', 'China', 'Germany', 'India', 'China', 'Germany', 'India', 'China',
    'Germany', 'India', 'China', 'Germany', 'India', 'China', 'Germany', 'India',
    'China', 'Germany', 'India', 'China', 'Germany', 'India', 'China', 'Germany',
    'India'
]

Warranty_Period = [
    '1 year', '1 year', '1 year', '6 months', '1 year', '6 months', '1 year',
    '6 months', '1 year', '1 year', '6 months', '1 year', '1 year', '6 months',
    '1 year', '1 year', '6 months', '1 year', '1 year', '6 months', '1 year',
    '1 year', '6 months', '1 year', '1 year', '6 months', '1 year', '1 year',
    '6 months', '1 year', '1 year', '6 months', '1 year', '1 year', '6 months',
    '1 year', '1 year', '6 months', '1 year', '1 year', '6 months', '1 year',
    '1 year', '6 months', '1 year', '1 year', '6 months', '1 year', '1 year',
    '6 months', '1 year', '1 year', '6 months', '1 year', '1 year', '6 months',
    '1 year', '1 year', '6 months'
]

Closure_Type = [
    'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on',
    'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up',
    'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle',
    'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on',
    'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up',
    'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle',
    'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on', 'Buckle', 'Lace-up', 'Slip-on',
    'Buckle', 'Lace-up', 'Slip-on'
]

Style = [
    'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal',
    'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal',
    'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal',
    'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal',
    'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal',
    'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot', 'Sandal',
    'Sneaker', 'Boot', 'Sandal', 'Sneaker', 'Boot'
]





Shoe_name = pd.Series(Shoe_name)
Size = pd.Series(Size)
Price = pd.Series(Price)
Brand = pd.Series(Brand)
Category = pd.Series(Category)
Color = pd.Series(Color)
Material = pd.Series(Material)
Gender = pd.Series(Gender)
Country_of_Origin = pd.Series(Country_of_Origin)
Warranty_Period = pd.Series(Warranty_Period)
Closure_Type = pd.Series(Closure_Type)
Style = pd.Series(Style)


shoe_df = pd.DataFrame()
shoe_df['Shoe_name'] = Shoe_name
shoe_df['Size'] = Size
shoe_df['Price'] = Price
shoe_df['Brand'] = Brand
shoe_df['Category'] = Category
shoe_df['Color'] = Color
shoe_df['Material'] = Material
shoe_df['Stock_Quantity'] = Stock_Quantity
shoe_df['Gender'] = Gender
shoe_df['Country_of_Origin'] = Country_of_Origin
shoe_df['Warranty_Period'] = Warranty_Period
shoe_df['Closure_Type'] = Closure_Type
shoe_df['Style'] = Style


shoe_df.head()

,Shoe_name,Size,Price,Brand,Category,Color,Material,Stock_Quantity,Gender,Country_of_Origin,Warranty_Period,Closure_Type,Style
0,Nike,43,$20,Nike,Sports,Red,Leather,100,Unisex,China,1 year,Lace-up,Sneaker
1,Zara,47,$35,Zara,Casual,Black,Synthetic,150,Women,Germany,1 year,Slip-on,Boot
2,Adidas,25,$56,Adidas,Sports,White,Canvas,200,Men,India,1 year,Buckle,Sandal
3,Puma,36,$29,Puma,Sports,Blue,Leather,120,Unisex,China,6 months,Lace-up,Sneaker
4,Timberland,38,$40,Timberland,Casual,Brown,Synthetic,180,Men,Germany,1 year,Slip-on,Boot

In [7]:
# Save the DataFrame as a CSV file

shoe_df.to_csv('shoe_data.csv', index=False)  #write to csv

In [8]:
# Read the csv file

df = pd.read_csv('shoe_data.csv')
df.head()

,Shoe_name,Size,Price,Brand,Category,Color,Material,Stock_Quantity,Gender,Country_of_Origin,Warranty_Period,Closure_Type,Style
0,Nike,43,$20,Nike,Sports,Red,Leather,100,Unisex,China,1 year,Lace-up,Sneaker
1,Zara,47,$35,Zara,Casual,Black,Synthetic,150,Women,Germany,1 year,Slip-on,Boot
2,Adidas,25,$56,Adidas,Sports,White,Canvas,200,Men,India,1 year,Buckle,Sandal
3,Puma,36,$29,Puma,Sports,Blue,Leather,120,Unisex,China,6 months,Lace-up,Sneaker
4,Timberland,38,$40,Timberland,Casual,Brown,Synthetic,180,Men,Germany,1 year,Slip-on,Boot